body{
    background-color: aliceblue;
}
h1{
    color: rgb(86, 174, 251);
    background-color: rgb(188, 224, 255);
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{
        box-shadow: 1px 1px 30px rgb(165, 205, 240);
    }
    to{
        box-shadow: 1px 1px 30px rgb(116, 182, 239);
    }
}
p{
    padding-top: 10px;
    font-size: 25px;
}